header nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010205+0,0a1116+19,ededf9+100 */
    background: #292727;
    /* Old browsers */
    background: -moz-linear-gradient(left, #292727 0%, #292727 19%, #292727 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #292727 0%, #292727 19%, #292727 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #292727 0%, #292727 19%, #292727 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#010205', endColorstr='#ededf9', GradientType=1);
    /* IE6-9 */
}

#logo {
    width: 35%;
}

header .nav-link {
    color: whitesmoke;
    font-size: 30px;
}

#box {
    background: #f5f4f4;
}

#box img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

#box h2 {
    margin-top: 10%;
    font-size: 50px;
    color: #3f3b3b;
}

#box p {
    font-size: 30px;
    color: #feb062;
}

#box0 {
    background: #f5f4f4;
    margin-top: 2%;
    padding: 1em;
}

#box1 {
    background: #f5f4f4;
    margin-top: 5%;
    padding: 1em;
    height: 600px;
}

#box1 h5 {
    font-size: 27px;
    font-weight: bold;
}

#box1 h6 {
    font-size: 25px;
    font-weight: bold;
}

#box1 p {
    font-size: 20px;
    font-style: oblique;
}

#box1 h5,
h6,
p {
    text-align: center;
    color: #3f3b3b;
}

#box #disabledSelect {
    height: 60px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #box h2 {
        margin-top: 10%;
        font-size: 25px;
        color: #3f3b3b;
    }
    #box p {
        font-size: 15px;
        color: #feb062;
    }
}