#logo {
    width: 15%;
    margin-top: 5%;
}

body h1 {
    margin-top: 5%;
    text-align: center; 
    color: gray;
}

#formulario {
    margin-top: 10%;
}

#formulario #dos {
    margin-top: 5%;
}
#siguien1 {
    width: 150px;
    margin-top: 5%; 
}

#selecciones {
    margin-top: 5%;  
}