#logo {
    width: 15%;
    margin-top: 5%;
    margin-left: 5%;
}

body h1 {
    text-align: center;
    color: rgb(58, 58, 58);
}

#formulario {
    margin-top: 5%;
    background: #f5f4f4;
    padding: 2em;
}

#formulario input {
    font-style: italic;
}

#formulario #dos {
    margin-top: 5%;
}

#siguien1 {
    width: 150px;
    margin-top: 5%;
}

#selecciones {
    margin-top: 5%;
    font-style: italic;
}

#logoV {
    margin-top: 50%;
    width: 25%;
}