#logo{
    margin-top: 10%;
}

.form-inline {
    margin-top: 15%;
    width: 80%;
}

.form-inline input{
    height: 90px;
    font-size: 23px;
}

.form-inline button{
    height: 90px;
    font-size: 23px;
    background: #3e3d3c; 
}

#ingreso h3{
   text-align: center;
   font-size: 35px;
   font-style: initial;
}

#ingreso p{
    text-align: center;
    font-size: 25px;
    color: #949393;
 }
